{{ 'section-header.css' |  asset_url |  stylesheet_tag }}

<header class="section-header color-{{ section.settings.color_scheme }} gradient">
 <div class="section-header__bar page-width">
  <button class="navdrawer__open-btn">
    {{ 'icon-hamburger-2.svg' | inline_asset_content }}
  </button>
  
  {%- if request.page_type == 'index' -%}
    <h1 class="header__heading">
  {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{ settings.logo | image_url: width: 600 | image_tag:
              class: 'header__heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
  {%- if request.page_type == 'index' -%}
    </h1>
  {%- endif -%}
  <a class="navbar__cart-btn" href="{{ routes.cart_url }}">
    
      {{ 'icon-shopping-bag.svg' | inline_asset_content }}
    
  </a>
 </div>

 <div class="navdrawer__wrapper">
  <div class="navdrawer__header">
    {{ sec }}
  </div>
 </div>
</header>


{%  schema  %} 
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "navdrawer__img",
      "label": "Navdrawer Image"
    }
  ]
}
{% endschema %} 